@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
  @apply min-h-[200px] outline-none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  @apply text-gray-400;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}